<section id="user" class="b-section">
    <form>
        <p>
            <label>
                <input type="text" name="name" can-value="name" placeholder="Full name"/>
                <span class="error" data-error="name"></span>
            </label>
        </p>
        <p>
            <label>
                <input type="email" name="email" can-value="email" placeholder="Email"/>
                <span class="error" data-error="email"></span>
            </label>
        </p>
        <button id="add">Add</button>
        <button id="save">Save</button>
        <button id="remove">Remove</button>
    </form>
    <div class="controlError"></div>
</section>
