<div id="layout" class="b-page">
    <header class="b-page__header">
        <menu class="b-menu"></menu>
    </header>
    <main class="b-page__main"></main>
    <footer class="b-page__footer">
        <a href="http://canjs.com/" class="b-link b-link--silver" title="MVC framework similar to Backbone & Knockout">Canjs</a> +
        <a class="b-link b-link--silver" href="http://socket.io/">socket.io</a> demo
    </footer>
</div>